<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documents">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Documents</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rappels">
      <ion-icon name="bulb"></ion-icon>
      <ion-label>Rappels</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conseils">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>Conseils</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="partager">
      <ion-icon name="share"></ion-icon>
      <ion-label>Partager</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
